@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using WebApplicationMVCRentalOfPremises.Models;
@using System.Collections.Generic;
@model (List<CustomerDetailsModel>,List<AgreementModel>,int)
@if (Model.Item2 is null && Model.Item1 is null)
{
    <h2 class="display-2">Данные отсутвуют</h2>
}
else
{
    <table class="table table-bordered">
        <tr>
            <th scope="col">Тип документа</th>
            <th scope="col">Значение документа</th>
        </tr>
        @if (Model.Item1 is null == false)
        {
            foreach (var det_ in Model.Item1)
            {
                <tr>
                    <td>@det_.TYPE</td>
                    <td>@det_.MeaningOfThePropsNAME</td>
                </tr>
            }
        }
    </table>
    <table class="table table-bordered">
        <tr>
            <th scope="col">Инвертарный номер</th>
            <th scope="col">Этаж</th>
            <th scope="col">Стоимость аренды в день</th>
            <th scope="col">Дата заезда</th>
            <th scope="col">Дата выезда</th>
        </tr>
        @if (Model.Item2 is null == false)
        {


            foreach (var ar in Model.Item2)
            {
                var out_ = WebApplicationMVCRentalOfPremises.Data.SeedData.OutleetStoregeIntrafce.GetModelById(ar.OUTLEET_ID);
               <tr>
                <td>
                    @out_.InventoryNumber
                </td>
                <td>
                    @out_.Storey
                </td>
                <td>
                    @out_.RentalCostPerDay
                </td>
                <td>
                    @ar.DateStart
                </td>
                <td>
                    @ar.DateStop
					</td>
				</tr>
            }
        }
    </table>
}
<form method="post" asp-controller="Client" asp-action="SelectOutleet">
    <input type="hidden" name="client_id" value="@Model.Item3" />
    <div class="form-control">
        <button type="submit" class="btn btn-info">Перейти к выбору помещения для аренды</button>
    </div>
</form>